html {
    height: 100%;
}

body {
    background-color: #DEDBD2;
    color: #2F3839;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    height: 100%;
}

img {
    width: 2rem;
    height: 2rem;
}

input {
    background-color: #DEDBD2;
    color: #2F3839;
    border: #B0C4B1 solid 2px;
    border-radius: 5rem;
    min-height: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
}

#player-form > input:-webkit-autofill,
#player-form > input:-webkit-autofill:hover,
#player-form > input:-webkit-autofill:focus,
#player-form > input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #c9c6bd inset !important;
    -webkit-text-fill-color: #2F3839 !important;
}

button {
    background-color: #DEDBD2;
    color: #2F3839;
    border: #B0C4B1 solid 2px;
    border-radius: 5rem;
    padding: 1rem;
    min-width: 7rem;
    font-weight: 700;
    font-size: 1rem;
}

button:hover,.game-cell:hover {
    background-color: #c9c6bd;
}

button:active,.game-cell:active {
    background-color: #aba89f;
}

.page-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1.2rem;
}

.header-container, .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    padding: 1rem;
}

.main-part-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
}

.toolbar {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
}

.header-container {
    font-weight: 700;
}

.footer-container {
    font-size: 1rem;
    font-weight: 500;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.game-board {
    display: grid;
    background-color: #B0C4B1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    justify-items: center;
    transition: transform 1000ms;
}

.game-cell {
    background-color: #DEDBD2;
    font-family: 'Rock Salt', cursive;
    height: 8rem;
    width: 8rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-mark {
    color: #EDAFB8;
}

.o-mark {
    color: #4A5759;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    font-weight: 700;
}

.single-player {
    display: flex;
    gap: 1rem;
}